<nav id="navigation" class="navbar navbar-default">

  {{#link-to 'index' class="nav-home"}}<span class="links puddle">Puddle Jumpers</span>{{/link-to}}
  {{#link-to 'about' class="navbar-right"}}<span class="links uslink">About Us</span>{{/link-to}}
  {{#link-to 'contact' class="navbar-right"}}<span class="links uslink">Contact Us</span>{{/link-to}}

</nav>
<div class="container">
  {{outlet}}
</div>
<hr>
<footer>
</footer>
