<nav class="navbar navbar-default">

  {{#link-to 'index' class="nav-home"}}Puddle Jumpers{{/link-to}}
  {{#link-to 'about' class="navbar-right"}}About Us{{/link-to}}
  {{#link-to 'contact' class="navbar-right"}}Contact Us{{/link-to}}

</nav>
<div class="container">
  {{outlet}}
</div>
<hr>
<footer>
</footer>
