<h2>Contact Us!</h2>

<p>Phone: 233-456-7890</p>
<p>Address: 123 Happy Street, Seattle WA 98000</p>
<p>Email: us@me.com</p>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About Us{{/link-to}}
