{{#each model.posts as |post|}}
  {{post-tile post=post}}
{{/each}}

{{new-post savePost ='savePost'}}

<ul>
  {{#each model.tags as |tag|}}
    <li>{{tag.type}}</li>
  {{/each}}
</ul>

{{new-tag saveTag="saveTag" post=model}}
